<div class="book">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource">
    <div *ngFor="let elem of displayedColumns">
      <ng-container matColumnDef="{{elem}}">
        <mat-header-cell *matHeaderCellDef>{{elem}}</mat-header-cell>
        <mat-cell *matCellDef="let book">{{book[elem]}}</mat-cell>
      </ng-container>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</div>
